<% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
<% end %>

<div style="margin-top:50px;" class="container-fluid col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">Please Log In</div>
      </div>

      <div style="padding-top:30px" class="panel-body">

        <%= form_tag login_url, {class: 'form-horizontal'}  do %>
            <fieldset>
              <div class="form-group">
                <%= label_tag :email, 'Email', class: 'control-label col-md-2 col-sm-1' %>
                <div class="col-md-8 col-sm-10">
                  <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Enter email' %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :password, 'Password', class: 'control-label col-md-2 col-sm-1' %>
                <div class="col-md-8 col-sm-10">
                  <%= password_field_tag :password, params[:password], class: 'form-control', placeholder: 'Enter password' %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-3 col-md-offset-2 col-xs-8 col-xs-offset-2">
                  <%= submit_tag 'Login', class: 'btn btn-success form-control' %>
                </div>
              </div>
            </fieldset>
        <% end %>
      </div>
    </div>

  </div>
</div>


