<p id="notice"><%= notice %></p>

<h1>Translations</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Language</th>
      <th>Translated Title</th>
      <th>Foreign Cover Image</th>
      <th>Publisher</th>
      <th>Translator</th>
      <th>ISBN-13</th>
      <th>ISBN-10</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @translations.each do |translation| %>
      <tr class="translation">
      <tr>
        <td><%= translation.book.title %></td>
        <td><%= translation.language.name %></td>
        <td><%= translation.title %></td>
        <td><%= image_tag(translation.cover_image_url, size: '150x200') %></td>
        <td><%= translation.publisher %></td>
        <td><%= translation.translator %></td>
        <td><%= translation.isbn_13 %></td>
        <td><%= translation.isbn_10 %></td>
        <td><%= link_to 'Show', translation %></td>
        <td><%= link_to 'Edit', edit_translation_path(translation) %></td>
        <td><%= link_to 'Delete', translation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Translation', new_translation_path %>
