<%= form_for user, html: {class: 'form-horizontal'} do |f| %>

    <% if user.errors.any? %>
        <div class="alert alert-warning" role="alert">Invalid entries:
          <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email, class: 'control-label col-md-2 col-sm-1' %>
      <div class="col-md-8 col-sm-10">
        <%= f.text_field :email, class: 'form-control', placeholder: 'Enter email' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'control-label col-md-2 col-sm-1' %>
      <div class="col-md-8 col-sm-10">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Enter password' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'control-label col-md-2 col-sm-1' %>
      <div class="col-md-8 col-sm-10">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Re-enter password' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3 col-md-offset-2 col-xs-8 col-xs-offset-2">
        <%= f.submit class: 'btn btn-primary form-control' %>
      </div>
    </div>
<% end %>
