<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <h4>Admins</h4>
  <div class="row">
    <div class="col-md-12">

      <table class="table table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>Email</th>
        </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
            <tr class="user">
              <td>
                <%= link_to edit_user_path(user) do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                <% end %>
                &nbsp;
                <%= link_to user, method: :delete, data: {confirm: 'Are you sure?'} do %>
                    <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </td>
              <td><%= user.email %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'New User', new_user_path, class: 'btn btn-info', role: 'button' %>
    </div>
  </div>
</div>

