<%= render 'shared/index_alerts' %>

<div class="container-fluid col-md-offset-1 col-md-10">
  <h1 class="sr-only">Admins</h1>
  <div class="row">

    <table class="table table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>Email</th>
      </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
          <tr class="user">
            <td>
              <%= link_to edit_user_path(user) do %>
                  <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
              &nbsp;
              <%= link_to user, method: :delete, data: {confirm: 'Are you sure?'} do %>
                  <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
            <td><%= user.email %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>
  <div class="row">
    <%= link_to 'New User', new_user_path, class: 'btn btn-info', role: 'button' %>
  </div>
</div>

