<!DOCTYPE html>
<html>
<head>
  <title>Ayn Rand Translations</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body class="<%= controller.controller_name %>">
    <div id="header">
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
